@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");

html {
}
body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1000px;
}

nav {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}
nav .options {
  margin: auto 0;
}
nav .options a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  margin: 20px 0;
  margin-right: 10px;
}

nav .logo {
  text-align: center;
  font-size: 26px;
}

nav .socials {
  text-align: right;
  margin: auto 0;
}
nav .socials a {
  text-decoration: none;
  margin-right: 16px;
}
nav .socials i {
  font-size: 18px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  margin: 20px auto;
}
.projects #project-item {
  max-width: 300px;
}
.projects #project-item p {
  margin: 2px 0;
}
.projects #project-item img {
  width: 100%;
}

@media only screen and (max-width: 920px) {
  nav {
    display: block;
  }
  nav .socials {
    visibility: hidden;
  }
  nav .options {
    text-align: center;
  }
  nav .options a {
    display: inline-block;
    margin: 8px 20px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects #project-item {
    max-width: 320px;
  }
}

@media only screen and (max-width: 630px) {
  .projects {
    grid-template-columns: 1fr;
  }
  .projects #project-item {
    max-width: 400px;
  }
}
